* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5c9692;
}

.main-container {
  height: 450px;
  width: 65%;
  background-color: #202831;
  display: flex;
  border-radius: 20px;
  transition: transform 0.5s ease; 

}

.sub-container {
  width: 50%;
}

.signup-container {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.heading-container {
  margin-left: 11%;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}


.signup-container a {
  color: #5c9692;
}

input {
  border-radius: 5px;
  width: 75%;
  height: 40px;
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid #5c9692;
  padding-left: 10px;
}

.fName {
  width: 31%;
}

.lName {
  width: 30%;
}

.terms-container {
  display: flex;
  margin-left: 10%;
}

.terms-check {
  height: 15px;
  width: 30px;
  cursor: pointer;
}

.terms-text {
  font-size: 12px;
}

.signup-btn {
  margin-left: 45px;
  width: 78%;
  background-color: #5c9692;
  cursor: pointer;
}

.signup-btn:hover {
  background: transparent;
  border: 2px solid #5c9692;
}

.signup-fields-container {
  height: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

.register-container {
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.register-container p {
  color: #797e93;
  font-size: 0.7rem;
}

hr {
  width: 35%;
  border: 1px solid #797e93;
}

.signup-options-container {
  margin-left: 10px;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.google,
.apple {
  width: 80px;
  height: 20px;
  border: 2px solid #5c9692;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.google:hover {
  background-color: #5c9692;
}

.apple:hover {
  background-color: #5c9692;
}

.google img {
  height: 20px;
}

.apple i {
  font-size: 20px;
}

.slider-container {
  width: 50%;
  height: auto;
  background-image: url("./images/slider-image.jpg");
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-blurbox {
  width: 80%;
  height: 80%;
  background-color: rgba(87, 87, 87, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.login-fields-container {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

.switch-btn {
  width: 40%;
  height: 50px;
  background-color: #5c9692;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.switch-btn:hover {
  background: transparent;
  border: 2px solid #5c9692;
}

.signup-container {
  display: none;
}

@media (max-width: 400px) {
  .main-container {
    height: 920px;
  }
}

@media (min-width: 450px) and (max-width: 750px) {
  .heading-container {
    margin-left: 11%;
  }
}


@media (max-width: 750px) {
  .container {
    height: auto;
  }
  .main-container {
    width: 80%;
    height: 1000px;
    flex-direction: column-reverse;
  }
  .sub-container {
    width: 100%;
    height: 50%;
  }
  .slider-container {
    width: 100%;
    flex-direction: column;
    height: 50%;
  }
  .inner-blurbox {
    height: 65%;
  }
  .signup-btn {
    margin-left: 11%;
    width: 78%;
  }
  .register-container {
    margin-left: 35px;
  }
  .heading-container {
    margin-left: 40px;
  }
  .register-container {
    margin-left: 10%;
  }
  hr {
    width: 30%;
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  .main-container {
    height: 500px;
  }
  .inner-blurbox {
    height: 60%;
    width: 90%;
  }
  .signup-options-container {
    width: 85%;
    margin-left: 8%;
  }
  .google,
  .apple {
    width: 60px;
    height: 15px;
    font-size: 0.8rem;
  }

  .google img {
    height: 15px;
  }

  .apple i {
    font-size: 15px;
  }

  hr {
    width: 25%;
  }
}

@media (max-width: 1200px) and(MIN-WIDTH:1000PX) {
  .signup-options-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 1150px) {
  .signup-btn {
    margin-left: 11%;
    width: 78%;
  }
}

.rotate {
  transform: rotatey(180deg);
}

.rotate-sub{
  transform: rotatey(-180deg);
}